.DS_Store
/restore
/kubernetes/apps/services/homepage/app/config/bookmarks.yaml
/kubernetes/apps/media/torrent/qbitmanage/app/resources/config_qb1.yml
/kubernetes/apps/media/torrent/qbitmanage/app/resources/config_qb2.yml
/kubernetes/apps/media/torrent/qbitmanage/app/resources/config_qb3.yml
/kubernetes/apps/media/torrent/qbitmanage/app/resources/config_qb4.yml
