{{- $paths := dict
  "cert-manager" "../../../kubernetes/apps/system/cert-manager/app/helmrelease.yaml"
  "cilium" "../../../kubernetes/apps/system/cilium/app/helmrelease.yaml"
  "external-secrets" "../../../kubernetes/apps/core/external-secrets/app/helmrelease.yaml"
  "flux-instance" "../../../kubernetes/apps/system/flux-system/flux-instance/app/helmrelease.yaml"
  "flux-operator" "../../../kubernetes/apps/system/flux-system/flux-operator/app/helmrelease.yaml"
  "onepassword" "../../../kubernetes/apps/core/onepassword-connect/app/helmrelease.yaml"
-}}
{{- $query := printf "select(.kind == \"HelmRelease\" and .metadata.name == \"%s\").spec.values" .Release.Name -}}
{{- if eq .Release.Name "flux-operator" -}}
{{- $query = printf "%s | .web.enabled = false | .web.httpRoute.enabled = false" $query -}}
{{- end -}}
{{- $values := exec "yq" (list $query (index $paths .Release.Name)) -}}
{{ $values }}
